<div id='container'>
  <div *ngIf="!this.isEnded">
    <mat-card>
      <app-banner-info></app-banner-info>
      <app-board></app-board>
      <button mat-raised-button *ngIf="this.connect4Service.getCanLeaveTheGame()" (click)="openDialog()">Lascia la partita</button>
    </mat-card>
    <mat-card>
      <app-chat id="{{this.id}}"></app-chat>
    </mat-card>
  </div>
  <mat-card *ngIf="this.isEnded">
    <mat-card-content>Questo match è terminato, cercane per trovarne uno nuovo!</mat-card-content>
    <button mat-raised-button routerLink='/home' routerLinkActive="router-link-active" (click)="this.onLeaveTheGame()" >Torna alla home</button>
  </mat-card>
</div>

