<mat-toolbar color="primary" >
    <span routerLink="home" routerLinkActive="active-link">Connect 4</span>
      <span class="example-spacer"></span>
        <button mat-icon-button *ngIf="this.clientHttp.get_token() != ''" [matMenuTriggerFor]="friendrequests">
          <mat-icon>
            person_add
          </mat-icon>
        </button>
        <mat-menu #friendrequests="matMenu">
          <button routerLink="friendshipRequests" mat-menu-item>Vedi richieste</button>
        </mat-menu>
        <button mat-icon-button *ngIf="this.clientHttp.get_token() != ''" alt="Impostazioni" [matMenuTriggerFor]="menu">
          <mat-icon>
            person
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="this.clientHttp.logout()" mat-menu-item>Logout</button>
        </mat-menu>

</mat-toolbar>
  <router-outlet></router-outlet>
