<mat-toolbar *ngIf="this.clientHttp.get_token() != '' && !this.connect4service.canLeaveTheGame" color="primary">
    <span routerLink="home">Connect 4</span>
      <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="friendrequests">
          <mat-icon>
            person_add
          </mat-icon>
        </button>
        <mat-menu #friendrequests="matMenu">
          <button routerLink="friendshipRequests" mat-menu-item>Vedi richieste</button>
        </mat-menu>
        <button mat-icon-button *ngIf="this.clientHttp.get_token() != ''" alt="Impostazioni" [matMenuTriggerFor]="menu">
          <mat-icon>
            person
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="this.clientHttp.get_token() != '' && this.clientHttp.is_moderator()" routerLink="manageUsers" mat-menu-item>Gestisci utenti</button>
          <button *ngIf="this.clientHttp.get_token() != '' && this.clientHttp.is_moderator()" routerLink="registerModerator" mat-menu-item>Aggiungi moderatore</button>
          <button (click)="this.clientHttp.logout()" mat-menu-item>Logout</button>
        </mat-menu>
</mat-toolbar>
<mat-toolbar *ngIf="this.connect4service.canLeaveTheGame || this.clientHttp.get_token() == ''" color="primary">
  <span>Connect 4</span>
</mat-toolbar>
  <router-outlet></router-outlet>
