<div id="container">
  <mat-card *ngIf="this.error != ''" class="error">
    <mat-card-content>
      {{this.error}}
    </mat-card-content>
  </mat-card>
  <div *ngFor="let match of matches">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{match[1]}}-{{match[2]}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
          </div>
          <div class="row">
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="observeMatch(match[0])">Osserva</button>
              </mat-card-actions>
          </div>
        </mat-card-content>
      </mat-card>
  </div>
</div>

