<div *ngIf="this.app.is_allowed()" class='container'>

    <mat-card>
      <div class='row'>
        <mat-card-title>
          Benvenuto,
          {{this.clientHttp.get_username()}}!</mat-card-title>
        <mat-card-content>
          <img mat-card-avatar *ngIf="this.picProfile != null" src="{{this.picProfile}}">
        </mat-card-content>
      </div>
    </mat-card>
  <app-bubble-menu></app-bubble-menu>
  <app-chat id="global"></app-chat>
  <app-search-matches></app-search-matches>

</div>
<div *ngIf="!this.app.is_allowed()">
  <app-login></app-login>
</div>

