<div id='container'>
  <form [formGroup]="addressForm">
    <mat-card class="login-form">
      <mat-card-header>
        <mat-card-title>Registra un moderatore</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col col-lg-4 col-md-4 col-sm-4">
            <mat-form-field class="full-width">
              <input matInput #username type="text" placeholder="Username" formControlName="username">
              <mat-error *ngIf="addressForm.controls['username'].hasError('required')">
                Nome <strong>obbligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col col-lg-4 col-md-4 col-sm-4">
            <mat-form-field class="full-width">
              <input matInput #password [type]="hide_password ? 'password' : 'text'" placeholder="Password" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide_password = !hide_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_password">
                <mat-icon>{{hide_password ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
                Password <strong>obbligatoria</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col">
              <mat-card *ngIf="duplicateUser" class="error">Il nome utente è già registrato</mat-card>
              <mat-card *ngIf="requestSucceded" class="success">Il moderatore è stato registrato</mat-card>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="set_user_credentials(username.value, password.value)">Registra</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
