<div class='container'>
  <mat-card>
    <div class='row'>
      <div class="col-xs-6 col-md-3">
        <h2>Statistiche</h2>
        <a routerLink="stats" class="thumbnail">
          <img src="../../assets/images/stats.png" alt="stats" class="img-fluid" alt="Responsive image">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <h2>Lista amici</h2>
        <a routerLink="friends" class="thumbnail">
          <img src="../../assets/images/friends_list.png" alt="friends_list" class="img-fluid" alt="Responsive image">

        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <h2 class='mat-subheading-1'>Osserva una partita</h2>
        <a href="#" class="thumbnail">
          <img src="../../assets/images/spectate.png" alt="spectate" class="img-fluid" alt="Responsive image">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <h2 class='mat-subheading-1'>Trova nuovi players</h2>
        <a routerLink="searchFriends" class="thumbnail">
          <img src="../../assets/images/friends_request.png" alt="friends_request" class="img-fluid" alt="Responsive image">
        </a>
      </div>
    </div>
  </mat-card>
</div>
<router-outlet></router-outlet>

