@media screen and (min-width:641px){
  #container {
    margin-top: 2%;
  }

  table {
    width: 100%;
  }

}

@media screen and (max-width:720px){
  #container {
    margin-top: 10%;
  }

  table {
    width: 100%;
    margin-bottom: 10%;
  }
}

h2{
  text-align: center;
  color:#673ab7;
}


