#container{
  margin-top: 10%;
}


@media screen and (min-width:767px){
  #container{
    margin-bottom: 1px;
    margin-left : 1px;
    position: fixed;
    bottom: 0;
  }

  .viewport {
    height: 200px;
  }

}

@media screen and (max-width:720px){

  .viewport {
    height: 200px;
  }

}



