<div id='container'>
  <mat-card>
    <mat-card-header color="primary">
      <mat-card-title >Benvenuto nella chat, {{username}}!</mat-card-title>
    </mat-card-header>
      <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
        <div *ngFor="let msg of messages" class="item" style="text-align: left;">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong>{{msg.username}}</strong>
          </div>
          {{msg.message}}
        </div>
      </cdk-virtual-scroll-viewport>
    <mat-card-actions>
      <form (submit)='submit()'>
        <input class='form-control' placeholder='Scrivi qualcosa..' [value]="message" (change)="message = $event.target.value" />
      </form>
    </mat-card-actions>
  </mat-card>
</div>



