<div id='container'>
  <form [formGroup]="addressForm">
    <mat-card class="search-user-form">
      <mat-card-header>
        <mat-card-title>Cerca un giocatore</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput #username placeholder="Username" formControlName="username">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="searchPlayers(username.value)">Cerca</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
<div id="container">
  <mat-card *ngIf="this.error != ''" class="error">
    <mat-card-content>
      {{this.error}}
    </mat-card-content>
  </mat-card>
  <div *ngFor="let user of users">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{user.username}}
        </mat-card-title>
        <img mat-card-avatar *ngIf="user.picProfile != null" src="{{user.picProfile}}">
      </mat-card-header>
      <mat-card-content>
        <div class="row">
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="addPlayer(user.username)">Aggiungi</button>
            </mat-card-actions>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

